

<div class="text-center my-5 font-weight-bold"><h3>Work Flow</h3></div>

<!--<button class="btn btn-info" (click)="loadComponentTest()">test</button>-->
<div class="offset-md-3 col-md-6 border border-rounded p-5">

  <div class="">

    <div *ngFor="let item of listTemplates; let i=index" class="">

      <div *ngIf="!item.isParallalTemp && i>0">
        <div class="text-center"><a (click)="insertTemplate(i,content)"><i class="fa fa-plus-circle" title="insert new template" aria-hidden="true"></i></a></div>
        <div class="text-center"><a class=" btn btn-sm btn-info" (click)="parallalTemplate(i,content)">Add Parallal</a></div>
        <div class="text-center" style="position:relative"><img height="50" width="50" src="../assets/images/plus2.svg" /></div>
        <!--<div class="text-center "><i class="fa fa-arrow-down" aria-hidden="true"></i></div>-->
      </div>

      <ng-container [ngTemplateOutlet]="this[item.Name]" [ngTemplateOutletContext]="{number:i}"></ng-container>

      {{item.Component}}
    </div>

    <div id="Templates">

      <ng-template #one let-Id='number'>
        <div class="card">
          <div class="card-header bg-warning text-white">
            <img src="../assets/images/customer.jpg" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
            Default Template
            <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
          </div>

          <div class="card-body">
            <p>This is the Defulat Template and it is dummy text lwerwsd d ldfodf fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
            <p>This is the Defulat Template and it is dummy text lwerwsd d ldfodf fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
          </div>
        </div>
      </ng-template>

      <ng-template #two let-Id='number'>
        <app-send-mail (mailChildEvent)="pushData($event,Id)"></app-send-mail>
      </ng-template>

      <ng-template #three let-Id='number'>
        <div class="card">
          <div class="card-header bg-info text-white">
            <img src="../assets/images/customer.jpg" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
            Save to Database
            <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
          </div>
          <div class="card-body">
            <label class="">Enter Connection String</label>
            <input type="text" class="form-control" placeholder="https://" />

            <p>   fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
          </div>
        </div>
      </ng-template>

      <ng-template #four let-Id='number'>
        <div class="card">
          <div class="card-header bg-success text-white">
            <img src="../assets/images/admin.png" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
            Download File
            <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
          </div>
          <div class="card-body">
            <p>File Name: demo.pdf</p>
            <p>File Sie: 17mb</p>
            <p>File Format: PDF</p>
            <p>Owner: Technovert</p>
          </div>
        </div>
      </ng-template>

      <ng-template #five let-Id='number'>
        <div class="card">
          <div class="card-header bg-danger text-white">
            <img src="../assets/images/customer.jpg" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
            Get Mobile Notification
            <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
          </div>
          <div class="card-body">
            <!--<label class="">Selected Mobile Number</label>
            <input type="text" class="form-control" readonly placeholder="8889997776" />-->
            <app-form-component></app-form-component>
          </div>
        </div>
      </ng-template>

      <ng-template #six let-Id='number'>
        <div class="card">
          <div class="card-header bg-dark text-white">
            <img src="../assets/images/admin.png" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
            Select Control
            <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
          </div>
          <div class="card-body">
            <p>   fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
          </div>
        </div>

      </ng-template>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Select Template</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <div class="my-2">
            <button class="btn btn-sm m-1 btn-outline-warning" type="button" (click)="selectedTemplate('one')"><i class="fa fa-television" aria-hidden="true"></i> Demo </button>
            <button class="btn btn-sm m-1 btn-outline-primary" type="button" (click)="selectedTemplate('two')"><i class="fa fa-envelope" aria-hidden="true"></i> Send Mail </button>
            <button class="btn btn-sm m-1 btn-outline-info" type="button" (click)="selectedTemplate('three')"><i class="fa fa-database" aria-hidden="true"></i> Save to Database</button>
            <button class="btn btn-sm m-1 btn-outline-success" type="button" (click)="selectedTemplate('four')"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download File  </button>
            <button class="btn btn-sm m-1 btn-outline-danger" type="button" (click)="selectedTemplate('five')"><i class="fa fa-mobile" aria-hidden="true"></i> Get Mobile Notification</button>
            <button class="btn btn-sm m-1 btn-outline-dark" type="button" (click)="selectedTemplate('six')"><i class="fa fa-tag" aria-hidden="true"></i> Select Control</button>
          </div>
        </div>
        <span *ngIf="templateType=='empty'" class="text-danger">*Please Select Template</span>
        <div class="text-center"><button class="btn btn-primary  mb-2" (click)="add()">Add</button></div>
        <div class="modal-footer">

          <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>

      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Select Template</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <div class="my-2">
            <button class="btn btn-sm m-1 btn-outline-warning" type="button" (click)="selectedTemplate('one')"><i class="fa fa-television" aria-hidden="true"></i> Demo </button>
            <button class="btn btn-sm m-1 btn-outline-primary" type="button" (click)="selectedTemplate('two')"><i class="fa fa-envelope" aria-hidden="true"></i> Send Mail </button>
            <button class="btn btn-sm m-1 btn-outline-info" type="button" (click)="selectedTemplate('three')"><i class="fa fa-database" aria-hidden="true"></i> Save to Database</button>
            <button class="btn btn-sm m-1 btn-outline-success" type="button" (click)="selectedTemplate('four')"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download File  </button>
            <button class="btn btn-sm m-1 btn-outline-danger" type="button" (click)="selectedTemplate('five')"><i class="fa fa-mobile" aria-hidden="true"></i> Get Mobile Notification</button>
            <button class="btn btn-sm m-1 btn-outline-dark" type="button" (click)="selectedTemplate('six')"><i class="fa fa-tag" aria-hidden="true"></i> Select Control</button>
          </div>
        </div>
        <span *ngIf="templateType=='empty'" class="text-danger">*Please Select Template</span>
        <div class="text-center"><button class="btn btn-primary  mb-2" (click)="add()">Add</button></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="text-center" style="position:relative"><img height="50" width="50" src="../assets/images/plus2.svg" /></div>
  <div class="text-center"><button class="btn btn-outline-primary mt-2" (click)="openWindowCustomClass(content)">Add Template</button></div>
  <div class="text-center"><button class="btn btn-outline-danger mt-2" (click)="reset()">Reset</button></div>

  <div class="box-header with-border mt-5">
    <div class="form-group voffset row">
      <label for="" class="vertical-label col-sm-4 col-md-8 "> Select Component</label>
      <div class="col-sm-8 col-md-4">
        <select (change)="selectName($event.target.value);" class="form-control">
          <option value="0">--Select--</option>
          <option [value]="obj.Id" *ngFor="let obj of data">
            {{obj.Name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group voffset row">
      <template #loadComponent>        
      </template>
    </div>
  </div>


  <div class="mt-5 d-none">
    <form [formGroup]="myGroup">
      <div formArrayName="groups" class="mt-5 border p-5">
        <div *ngFor="let grp of myGroup.get('groups').controls; let i=index">

          <div [formGroupName]="i">
            <div *ngIf="i==0">
              <ng-container [ngTemplateOutlet]="five1"></ng-container>
            </div>

            <div *ngIf="i==1">
              <ng-container [ngTemplateOutlet]="six1"></ng-container>
            </div>
            <!--<ng-container [ngTemplateOutlet]="five1"></ng-container>-->

            <ng-template #five1>
              <div class="card">
                <div class="card-header bg-info text-white">
                  <img src="../assets/images/customer.jpg" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
                  Select Control
                  <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
                </div>
                <div class="card-body">
                  <p>   fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
                </div>
              </div>

              <div class="row">
                <input type="text" class="form-control mt-1" formControlName="val1" />
                <input type="text" class="form-control mt-1" formControlName="val2" />
                <input type="text" class="form-control mt-1" formControlName="val3" />
                <input type="text" class="form-control mt-1" formControlName="tempType" />
              </div>

            </ng-template>

            <ng-template #six1>
              <div class="card">
                <div class="card-header bg-dark text-white">
                  <img src="../assets/images/customer.jpg" height="25px" width="25px" class="rounded-circle align-self-start mr-3">
                  Select Control
                  <a><i class="fa fa-trash text-white pull-right" aria-hidden="true" title="Remove" (click)="removeTemplate(Id)"></i></a>
                </div>
                <div class="card-body">
                  <p>   fsdl sdfslkd fsdlfdskjsdf sdfjsldf sdoifjsdl sdfsd ksdjfdsfo dsfsdl  lsdlfwer llsdfosdf lsdlfk dfknewrl dsflkodkld</p>
                </div>
              </div>

              <div class="row">
                <input type="text" class="form-control mt-1" formControlName="val1" /> 
                <input type="text" class="form-control mt-1" formControlName="val2" />
                <input type="text" class="form-control mt-1" formControlName="val3" />
                <input type="text" class="form-control mt-1" formControlName="tempType" />
              </div>

            </ng-template>

          </div>

          <div class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>

        <div class="row text-center">
          <select class="form-control w-25  mx-1" (change)="selectedTemplate($event.target.value)">
            <option selected="selected" value="five1">Template 1</option>
            <option value="six1">Template 2</option>
          </select>

          <button (click)="addNewGroup()" class="btn btn-primary align-self-start">Add</button>
        </div>

      </div>
    </form>
  </div>



  <!--{{myGroup.value | json }}-->
  <!--<span>--------------</span>-->
  <!--{{myGroup.value.groups[0].tempType | json }}-->
  <!--{{templates | json}}-->
  {{listTemplates | json}}

  <div class="tree d-none">
    on
    <ul>
      on
      <li>
        <a href="#">
          hr
          Parent
          li
        </a>
        >

        hr
        li
        <ul>
          hr
          li


          <li>


            Ch
            <a href="#">
              f=
              Child
            </a>
            f=
            <ul>
              <li>
                <a href="#">Grand Child</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              Child
            </a>
            <ul>
              <li>
                <a href="#">Grand Child</a>


              </li>


            </ul>


          </li>
          i>


          <li>
            i>

            <a href="#">Child</a>
            <ul>
              <li>
                <a href="#">Grand sasadadsa</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Child</a>
            <ul>
              <li><a href="#">Grand Child1</a></li>
              <li>
                <a href="#">technovert</a>
                <ul>
                  <li>
                    <a href="#">Great Grand TEstttt</a>
                  </li>
                  <li>
                    >G
                    <a href="#">>Great Grand Child</a>
                  </li>
                  <li>
                    <a href="#">Great Grand Child</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Grand Child2</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>


